{
  "rules": {
    "max-len": [1, {
      "code": 120
    }],
    "prettier/prettier": ["error", { "singleQuote": true }],
    "quotes": ["error", "single", "avoid-escape"],
    "semi": ["error", "always"]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ]
}
